@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* changed body to flex column, centered content*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* changed links to have no decorations and be flex */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.left-links, .right-links {
  display: flex;
  gap: 12px;
  padding-left: 0;
}

/* made header and footer go into corners of screen */
.header, .footer {
  display: flex;
  justify-content: space-between;
  margin: 8px 24px;
}

/* centered content*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 8px;
}

/* spaced buttons*/
.buttons {
  display: flex;
  gap: 32px;
}